@font-face {
    font-family: whoa;
    src: url("../fonts/whoa!.ttf") format("truetype");
}

/* JUMBOTRON */
.container {
  text-align: center;
}

.jumbotron {
  font-family: whoa;
  color: black;
  padding: 10px;
  margin: 20px 0px;
}

.jumbotron h1 {
  font-size: 62pt;
}

/* LABELS */
#label-rows {
  margin-top: 40px;
}

.wins-losses {
  margin-bottom: 20px;
}

.player-label {
  font-size: 30pt;
}

/* FORM */
#middle-section {
  margin-bottom: 45px;
}

.rps-option {
  font-size: 60pt;
  cursor: pointer;
}

.rps-option i:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.rps-choice {
  font-size: 85pt;
}

#message-bar {
  font-size: 16pt;
}

/* CHAT */
#chat-box {
  text-align: left;
  margin: 20px 0px;
}

.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
  color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
  margin-right: 5px;
}

.panel-body {
  overflow-y: scroll;
  height: 180px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

/* OTHER */
.placeholder {
  opacity: 0;
}

.hidden {
  display: none;
}
